data/
cad_data/
temp/
.agents/
.env
**__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

debug_outputs/

.vscode/

out/

wandb/
lightning_logs/

cache/

gui/assets/
gui/renders/

# JS Related
node_modules
dist
package-lock.json
yarn.lock

# fastapi related
